## Add system admins
add_principal group.admin group.user
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow

##EASY ADMIN
add_ace group.admin easyadmin allow
add_principal identifier.license:23d85e8f4fba37f16f6b00ce4a0b3bf5e523d564 group.admin  ## Dreggish

##JOBSCREATOR
add_ace identifier.license:23d85e8f4fba37f16f6b00ce4a0b3bf5e523d564 jobcreator allow # Add permission to 'SirAlexS. / Dreggish' Rockstar license
